#home{
align-items: center;
    img{
        object-fit: cover;
        padding: 10px;
        width: 100vw;
        height: 50vh;
}}





#showDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    .show-card {
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

    .show-card img {
        width: 100%;
        border-radius: 8px;
    }

    .show-card p {
        margin: 8px 0;
    }

    .show-card h2 {
        text-align: center;
    }
}

#about{
    cursor: default;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

