#home{
    img{
        padding: 50px;
        justify-content: center;
        width: 1200px;
        height: 628px;
    }

    h1{
    font-family: Cambria;
    text-align: center;
    }

    p{
        background-color: white;
    }
}


.navBar{
    align-items: end;
    list-style-type: none;
    gap: 0;
    padding: 0;


    li{
        display: inline-block;
        margin: 0 3px;
    }
}




#showDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    .show-card {
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

    .show-card img {
        width: 100%;
        border-radius: 8px;
    }

    .show-card p {
        margin: 8px 0;
    }

    .show-card h2 {
        text-align: center;
    }
}

#about{
    cursor: default;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

