
#showsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 5px;
    background-color: rgb(222, 222, 207);
};

#showsHeader img{
    width: 100%;
    max-width: 300px;;
    height: auto;
}

#showDetails{
    display:grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 15px;
}

#showPeople{
    display:grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 15px;
}

.show-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    max-width: 400px;
}
    .show-card img {
    justify-content: center;
    width: 75%;
    height: auto;
    border-radius: 8px;
}

    .show-card p {
    margin: 8px 0;
}

    .show-card h2 {
    text-align: center;
}
#about{
    cursor: default;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
