#surveyPage {
    background-image:
        linear-gradient(rgba(255,255,255,0.8),
                        rgba(255,255,255,0.8)),
        url('../images/2.jpg');

    background-size: cover;
    background-repeat: repeat;
    padding: 5px;
    gap: 5px;
}

#surveyPage-h2{
  font-family: Cambria;
    font-size: xx-large;
    font-weight:bold
    color: red;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    gap: 5px;
    padding: 10px;
}

#survey{
    display: flexbox;
}



#surveyResults{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    list-style-type: none;
    padding: 15px;
    border: 10px solid #ddd;
    border-radius: 10px;
}
