#surveyPage {
    background-image:
        linear-gradient(rgba(255,255,255,0.8),
                        rgba(255,255,255,0.8)),
        url('../images/2.jpg');

    background-size: cover;
    background-repeat: repeat;
    padding: 5px;
    gap: 5px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: rgb(222, 222, 207)
}


#surveyResults {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
    border: 3px solid rgb(9, 9, 62); /* border around whole results box */
    border-radius: 10px;
    min-height: 100px;
}

/* each submission card */
.result-card {
    border: 2px solid rgb(9, 9, 62);
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

/* optional: nicer spacing inside card */
.result-card p {
    margin: 5px 0;
}

#aboutMe-Layout{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    align-items: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
